<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NET/HTTP</title>
</head>
<body>

    {{ if . }}
        <ul>
            {{ range $key, $values := . }}
                <li>
                    {{ $key }}
                    <ul>
                        {{ range $values }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
    {{ end }}

    <form action="/?fname=Hoa" method="post">
        <input type="text" name="lname" value="">
        <button type="submit" name="submit-button" value="Onda button">Submit</button>
    </form>
</body>
</html>
